:root {
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'PingFang SC', sans-serif;
  line-height: 1.5;
  color-scheme: light;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #f7f7f9;
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
  width: 100%;
}
